i.unsort {
    background: url(fonts/unsort-up.png), url(fonts/unsort-down.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top right, bottom right;
    text-align: center;
    width: 15px;
    height: 19px;
    float: right;
}

i.sort-asc {
    background: url(fonts/sort-up.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: top right;
    text-align: center;
    width: 15px;
    height: 19px;
    float: right;
}

i.sort-desc {
    background: url(fonts/sort-down.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: bottom right;
    text-align: center;
    width: 15px;
    height: 19px;
    float: right;
}
.col {
    background: #e8edf3;
    color: #3b3a36;
}

th, td {
    border: solid 1px #f2e9e9;
    text-align: center;
}